/* @font-face
{
    font-family: SourceHanSansCN-Regular;
    src: url(../../assets/font/SourceHanSansCN-Regular.otf);
}

 @font-face
{
    font-family: SourceHanSansCN-Medium;
    src: url(../../assets/font/SourceHanSansCN-Medium.otf);
}  */

a{
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
}

body{
    margin: 0;
    padding: 0;
    /* font-family: SourceHanSansCN-Regular; */
}
.game-container{
    margin-top: 50px;
    padding-bottom: 80px;
    background: url(../../assets/images/bg.png)  top no-repeat,#3a136c;
    background-size: 100%;
    min-height: 650px;
}

.header {
    margin-bottom: 0;
    /* border-top: 25px solid #fff; */
    padding-top: 0!important;
}

.top-50{
    top: 75px!important;
}

.btn-group {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.game-btn {
    width: 90%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 23px;
    /* font-family: SourceHanSansCN-Medium;  */
    background: -webkit-linear-gradient(#f9fcf9,#50b651);
    border-radius: 25px;
    margin: 30px auto;
    color: #00680c;
    clear: both;
    box-shadow: 0 2px 2px 1px rgba(4, 76, 28, 0.15);
}

.rule-box {
    background: #ffc001;
    background-size: 100%;
    float: right;
    color: #00680c;
    font-size: 12px;
    text-align: center;
    width: 90px;
    height: 20px;
    line-height: 20px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    color: #48197b;
    margin-top: 10px;
}

.scroll-box {
    height: 25px;
    background: #433b80;
    padding: 0 20px;
    box-sizing: border-box;
    line-height: 25px;
}

.icon-tip {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../../assets/images/tip.png) no-repeat center;
    background-size: 12px 12px;
    margin-right: 5px;
    vertical-align: super;
    position: relative;
    top: 0;
}

.scroll-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 85%;
    display: inline-block;
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
}

.scroll-ul li{
    display: inline-block;
    font-size: 12px;
    color: #fff;
    line-height: 25px;
    height: 25px;
    margin-right: 10px;
}

.toast-text {
    position: fixed;
    width: 70%;
    left: 15%;
    right: 15%;
    bottom: 30px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 25px;
    color: #fff;
    font-size: 15px;
    z-index: 10;
    display: none;
}

.rule-mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    overflow: auto;
}

.rule-cont {
    width: 93%;
    margin: 18% auto;
    background: #fff;
    border-radius: 10px;
    background-size: 100%;
    padding-top: 10px;
}
.rule-mask .title{
    text-align: center;
    font-size: 18px;
    /* font-family: SourceHanSansCN-Medium; */
    width: 70%;
    margin-bottom: 10px;
    display: block;
    margin: auto;
    margin-top: -35px;
}

.rule-ul {
    list-style: none;
    padding: 0 10px;
    margin: 15px 0 0 0;
}

.rule-ul li {
    font-size: 14px;
    /* font-family: SourceHanSansCN-Regular; */
    color: #333;  
    line-height: 1.5;
}

.order-box {
    display: inline-block;
    font-style: normal;
    background: #f9ce65;
    font-size: 12px;
    color: #fff;
    /* font-family: SourceHanSansCN-Medium; */
    width: 17px;
    height: 17px;
    border-radius: 17px;
    text-align: center;
    line-height: 17px;
    vertical-align: top;
    margin-right: 5px;
}

.rule-ul .text {
    width: 90%;
    display: inline-block;
    margin: 0;
    line-height: 1.3;
}

.icon-close {
    display: block;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    color: #294c05;
    font-size: 30px;
    font-style: normal;
    background: -webkit-linear-gradient(#ffffff,#f9ce65);
    border-radius: 35px;
    margin: 0  auto;
    position: relative;
    top: 50px;
}

.show{
    display: block!important;
}

.hide{
    display: none!important;
}

.start-container {
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../../assets/images/game-start-bg.png) no-repeat top center,#3c146e;
    background-size: 100%;
}

.start-sec {
    position: relative;
    width: 100%;
    background: url(../../assets/images/start-bg.png) top center no-repeat,#fff; 
    background-size: 100%;
    /* height: 450px; */
    border-radius: 15px;
    padding-bottom: 30px;
    width: 90%;
    margin: auto;
  
}

.question-sec {
   
}

.process-sec {
    position: relative;
    background: #fff;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    margin: auto;
    margin-top: -60px;
    color: #333;
    text-align: center;
}

.process-num {
    text-align: center;
    color: #333;
    font-size: 27px;
    margin: 0;
    position: relative;
    z-index: 1;
    top: -15px;
}

.rule-sec {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 90%;
    left: 5%;
    bottom: 5%;
    color: #1366d6;
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
    border-radius: 15px;
    padding: 12px 0 20px 0;
}

.rule-sec p {
    font-size: 18px;
    margin: 8px;
    /* font-family: SourceHanSansCN-Medium; */
}

.rule-sec p:first-child{
    font-weight: bold;
    margin: 5px;
}

.start-sec {
    box-sizing: border-box;
}

.start-num {
    display: block;
    font-size: 260px;
    /* padding-top: 5%; */
    text-align: center;
    /* font-family: SourceHanSansCN-Medium; */
    color: #fff;
    width: 80%;
    margin: auto;
    animation: count 1s linear 3;
    /* transform: scale(0.9);
    transition: all 1s ease; */
}

.animation{
    animation: count 1s linear 3;
}

@keyframes count {
   /* from {opacity: 0.8;}
   to{
       opacity: 0;
       transform: scale(0.8);
    } */
    0%{
        opacity: 1;
        transform: scale(1);
    }
    50%{
        opacity: 0.5;
        transform: scale(0.8);
    }
    100%{
        opacity: 0;
        transform: scale(0.01);
    }
}

 .start-title {
    text-align: center;
    font-size: 16px;
    color: #fff;
    margin: 30px 0 30px 0;
}

.proccess-bar-box {
    position: relative;
    width: 90%;
    height: 10px;
    border-radius: 10px;
    background: #fff;
    margin: auto;
    box-shadow: 0 2px 2px 1px rgba(4, 76, 28, 0.15);    
}

.proccess-ing {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    border-radius: 10px;
    background: -webkit-linear-gradient(right,#bbff54,#46f205);
    
    /* box-shadow: 1px 1px 15px 3px rgba(255, 255, 255, 0.5); */
    
}

.question-sec .text {
    text-align: right;
    font-size: 16px;
    color: #999;
    margin: 0 0 10px 0;
    /* padding-top: 20px; */
    padding-right: 20px;
}

.qustion-cont {
    width: 100%;
    text-align: center;
    color: #3a136c;
    font-size: 80px;
    /* font-family: SourceHanSansCN-Medium; */
    margin: auto;
    line-height: 1.3;
    font-weight: bold;
}

.qustion-cont .plus{
    margin: 0 20px;
}

.answer {
    text-align: center;
    margin-top: 20px;
}

.icon-subtraction {
    display: inline-block;
    width: 44%;
    height: 0;
    padding-bottom: 44%;
    background: url(../../assets/images/icon-subtraction.png) center no-repeat,#3480df;
    background-size: 50px 50px;
    margin: 0 0 0 2%;
    border-radius: 15px;
}

.icon-plus {
    display: inline-block;
    width: 44%;
    height: 0;
    padding-bottom: 44%;
    background: url(../../assets/images/icon-plus.png) center no-repeat,#26d27e;
    background-size: 65px 50px;
    margin: 0 2% 0 0;
    border-radius: 15px;
}

.err-mask-cont {
    width: 93%;
    margin: 45% auto;
    background: #fff;
    border-radius: 15px;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center!important;
}

.err-mask-cont .title {
    color: #007332;
    font-size: 16px;
    text-align: center;
    width: 100%;
    margin-top: -9px;
}

.err-mask-cont .tip{
    font-size: 12px;
    color: #ffc000;
}

.err-mask-cont .title .mark {
    font-size: 23px;
    color: #ffc000;
}



.mask-btn {
    width: 90%;
    padding: 12px 0;
   
    color: #fff;
    background: -webkit-linear-gradient(right,#ffa10f,#ffc90e);
    margin: 30px auto 0 auto;
    border-radius: 35px;
    text-align: center;
}

.invite-mask-cont {
    position: absolute;
    width: 90%;
    left: 5%;
    right: 5%;
    bottom: 0;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
}

.invite-mask-cont .text {
    color: #666;
    font-size: 16px;
    margin: 0;
    line-height: 1.5;
    text-align: left;
}

.invite-icon-group {
    text-align: center;
}

.icon-facebook {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: url(../../assets/images/icon-facebook.png) center no-repeat;
    background-size: 45px 45px;
    margin:  10px 40px 0 40px;
}

.icon-whatsapp {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: url(../../assets/images/icon-whatsapp.png) center no-repeat;
    background-size: 45px 45px;
    margin: 10px 40px 0 40px;
}

.invite-cancel-btn{
    text-align: center;
    color: #666;
    font-size: 16px;
    margin: 18px -20px -20px -20px;
    padding: 15px;
    border-top: 1px solid #ddd;
}

.record-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../../assets/images/start-bg.png) top center no-repeat,linear-gradient(to top right, #05983a 0%, #39b622 25%, #7dd40b 100%);
    background-size: 100%;
}

.data-panel {
    width: 90%;
    margin: 38% auto 0 auto;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    color: #00680c;
    height: 265px;
}

.award-avator-box{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    top: -25px;
}

.award-record-avator {
  width: 100%;
}

.data-panel .name {
    color: #00680c;
    font-size: 16px;
    text-align: center;
    margin: -15px 0;
}

.my-data-items {
    margin: 50px 0 30px 0; 
}

.my-data-items .item {
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    float: left;
}

.my-data-items .item .text,.user-panel .text{
    font-size: 14px;
    color: #00680c;
}

.my-data-items .item .num,.user-panel .num {
    font-size: 18px;
    color: #00680c;
    /* font-family: SourceHanSansCN-Medium; */
}

.my-data-items .item:first-child{
    border-right: 1px solid #dddddd;
}

.icon-rp {
    display: block;
    width: 28px;
    height: 28px;
    background: url(../../assets/images/icon-rp.png) center no-repeat;
    background-size: 28px 28px;
    margin: auto;
}

.icon-chapion {
    display: block;
    width: 28px;
    height: 28px;
    background: url(../../assets/images/icon-chapion.png) center no-repeat;
    background-size: 28px 28px;
    margin: auto;
}

.user-panel {
    position: relative;
    width: 90%;
    margin: 20px auto 0 auto;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.user-panel .text,.user-panel .num {
    margin: 0;
}
.text-go {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #999999;
    font-size: 12px;
}

.icon-go {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../../assets/images/icon-go.png) center no-repeat;
    background-size: 25px 25px;
    vertical-align: middle;
    margin-left: 10px;
}

.rank-container {
    min-height: 640px;
    background: url(../../assets/images/game-start-bg.png) bottom no-repeat,#3a136c;
    background-size: 100%;
    overflow: hidden;
    padding: 50px 0 55px 0;
}

.rank-panel {
    width: 90%;
    margin:  15% auto;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    padding: 0 15px;
    color: #3a136c;
    font-weight: bold;
    /* font-family: SourceHanSansCN-Medium; */
}



.rank-head-box {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 1px 0 1px #e9e1f0;
    position: relative;
    top: 3px;
    margin-right: 5px;
    background: #fff;
}

.rank-head-box img {
    width: 100%;
    height: 100%;
}

.award-detail-box {
    text-align: center
}

.award-detail-box img{
    margin-top: 23%;
    width: 50%;
}
.award-detail-box p {
    color: #fff;
    font-size: 16px;
}
.rank-title {
    width: 78%;
    margin-top: -30px;
}

.rank-data-title {
    color: #3a136c;
    font-size: 12px;
    margin-top: 5px;
    font-weight: bold;
}

.rank-panel .left{
    display: inline-block;
    width: 12%;
    text-align: center;
}

.rank-panel .left img{
    width: 17px;
    height: 22px;
    vertical-align: bottom
}

.rank-panel .center{
    display: inline-block;    
    width: 54%;
    text-align: center;
}

.rank-panel .right{
    display: inline-block;    
    width: 28%;
    text-align: center;
    
}

.rank-ul {
    padding: 0;
    margin: 0;
    font-size: 14px;
    list-style: none;
}

.rank-ul li {
    border-top: 1px solid #ddd;
    padding: 5px 0;
}

.footer-data {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 55px;
    line-height: 55px;
    color: #fff;
    font-size: 14px;
    background: #a46cfb;
    z-index: 200;

}

.footer-data .rank-head-box{
    position: relative;
    top: 4px;
}

.footer-data .rank-head-box img{
    position: relative;
    top: -12px;
}

.footer-data .left {
    display: inline-block;
    width: 28%;
    text-align: center;
    
}

.footer-data .center {
    display: inline-block;    
    width: 40%;
    text-align: center;
    
}

.footer-data .right {
    display: inline-block;
    text-align: center;
    width: 28%;
}

.default-sec {
    text-align: center;
    padding-top: 30%;
    color: #fff;
    font-size: 16px;
}

.default-sec img {
    width: 40%;
}

.rank-panel.detail {
    box-sizing: border-box;
    margin-top: 0;
    overflow: hidden;
}

.rank-box {
    padding-top: 15px;
}

.rank-panel.detail .rank-data-title{
    font-size: 14px;
    margin: 10px 0;
}

.rank-panel.detail .rank-ul{
    font-size: 14px;
    margin: 10px 0;
    padding-bottom: 10px;
}

.rank-panel.detail .rank-ul li{
    padding: 8px 0;
}

.rank-panel.detail .rank-ul li:last-child{
    border-bottom: 1px solid #ddd;
}

.success-mask-cont {
    width: 90%;
    margin: 45% auto;
    color: #007332;
    font-size: 16px;
    background: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 30px;
    text-align: center;
}

.success-mask-cont .title {
    margin: auto;
    color: #ffc000;
    border-bottom: 1px solid #ddd;
    padding-bottom: 12px;
    width: 89%;
    margin-bottom: 20px;
}

.success-mask-cont .text {
    margin: 5px;
    text-align: center;
    color: #666;
}

.icon-award {
    width: 70%;
    margin-top: -75px;
}

.start-text{
    font-size: 130px;
    position: relative;
    top: -60px;
    /* margin-top: -50%; */
}

.pb-45 {
    padding-bottom: 45px;
}

.pt-30 {
    padding-top: 30px;
}

.game-text-title {
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: url(../../assets/images/game-text-bg.png) no-repeat center;
    background-size: 90%;
    padding: 32px;
    margin-top: 150px;
    
}

.game-text-title span {
    display: block;
    transform: rotate(-2deg);
    line-height: 1.3;
    position: relative;
    top: -3px;
    left: -20px;
}

.game-text-tip {
    font-size: 12px;
    color: #fff;
    text-align: center;
    transform: rotate(-3deg);
    margin-top: -15px;
}

.game-text-tip .color{
    color: #ffd65d;
}

.game-start-btn {
    background: -webkit-linear-gradient(right,#ffa20f,#ffc90e);
    width: 90%;
    height: 60px;
    border-radius: 30px;
    line-height: 60px;
    text-align: center;
    font-size: 28px;
    color: #fff;
    margin: 30px auto 0 auto;
    animation: jump 1s ease infinite;
}

@keyframes jump {
    from{
        transform: scale(1.02)
    }
    to{
        transform: scale(0.95)
    }

}

.game-change-tip {
    color: #fff;
    font-size: 14px;
    text-align: center;
    
}

.game-award-sec {
    width: 90%;
    background: #1c60c1;
    border-radius: 12px;
    margin: auto;
    color: #fff;
    box-sizing: border-box;
    padding: 15px;
    overflow: hidden;
}

.game-award-sec .head-sec {
    margin-top: 0;
    vertical-align: middle;
}

.mask-game-header {
    position: relative;
    z-index: 100;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -30px;
    top: -21px;
}

.game-header{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 5px;

}

.game-header img,.mask-game-header img {
    width: 100%;
}

.game-item {
    position: relative;
    background: #1675d3;
    border-radius: 12px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    width: 48%;
    float: left;
    margin-right: 4%;
    margin-top: 5px;
    height: 100px;
}

.game-item:nth-child(2){
    margin-right: 0
}

.game-item p {
    margin-top: 5px;
    margin-bottom: 5px;
    transform: scale(0.9);
    color: #fff;
}

.game-item span {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    color: #fff;
}

.game-item .text {
    position: absolute;
    bottom: 5px;
    background: #448dd4;
    border-radius: 15px;
    transform: scale(0.9);
    padding: 0 1px;
}

.game-fixed-info {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    line-height: 60px;
    color: #fff;
    background: #a46cfb;
    font-size: 14px;
    z-index: 1;
    padding: 0 15px;
}

.game-fixed-info .num {
    font-size: 16px;
}

.fixed-next {
    float: right;
}

.fixed-next .icon-fixed-next{
    background: url(../../assets/images/icon-fixed-next.png) no-repeat center;
    background-size: 7px 10px;
    display: inline-block;
    width: 8px;
    height: 10px;
    margin-left: 2px;
}

.game-dafault {
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    z-index: 1;
    background: #3a136c;
    text-align: center;
}

.game-dafault img {
    width: 70%;
    margin-top: 30%;
}

.game-dafault .default-text {
    color: #fff;
    font-size: 12px;
    margin-top: 30px;
}