.header {
  box-shadow: 0 0 0 1px rgba(255, 192, 0, 0.1);
  margin-bottom: 0 !important;
  border-top: none !important;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.recharge-container {
  padding: 72px 15px 0;
}

.process-container {
  padding-top: 70px;
}

.recharge-balance {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #DDDDDD
}
.recharge-balance span:first-child{
  color: #999999;
  font-size: 12px;
  margin-right: 15px;
}
.recharge-balance span:last-child{
  color: #E93F3F;
  font-size: 16px;
}
.recharge-balance p {
  margin-top: 0;
}

.recharge-balance .balance {
  font-size: 32px;
  margin: 0;
  line-height: 1.2;
  margin-top: 12px;
}

.recharge-title {
  font-size: 16px;
  color: #333333;
}

.recharge-panel {
  overflow: hidden;
}

.recharge-item {
  width: 47%;
  border: 1px solid rgba(221,221,221,1);
  border-radius: 5px;
  color: #DDDDDD;
  font-size: 16px;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 10px;
  float: left;
}

.recharge-item.active {
  border:1px solid rgba(233,63,63,1);
  color: #E93F3F;
}

.recharge-item:nth-child(2n) {
  float: right;
}

.recharge-item span {
  font-size: 14px;
  display: inline-block;
  width: 90%;
  margin: 12px auto 12px auto;
}

.recharge-btn {
  background: #ffc000;
  text-align: center;
  font-size: 18px;
  color: #fff;
  padding: 10px 0;
  margin: 30px 0 10px;
  background:rgba(233,63,63,1);
  border-radius:2px;
}

.mask {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

.mask-cont {
  width: 90%;
  margin: 25% auto;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.mask-cont-title {
  font-size: 16px;
  color: #333333;
  margin-top: 0;
}

.mask-cont ul {
  list-style: none;
  padding: 0;
  height: 320px;
  overflow: auto;
}

.mask-cont ul li {
  color: #ffc000;
  border: 1px solid #ffc000;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 15px;
  padding: 8px;
}

.cont-panel {
  position: relative;
  margin: -5px auto 20px;
  width: 92%;
  /* background: rgba(255,255,255,1); */
  border-radius: 8px;
  text-align: center;
  color: #666666;
  font-size: 14px;
  overflow: hidden;
  /* box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.08);; */
}
.cont-panel .top {
  background: url(../../assets/images/recharge/retangular-top.png) no-repeat  center;
  width: 100%;
  height: 60%;
  padding-top: 20px;
  background-size: 100% 100%;  
}
.cont-panel .dash {
  background: url(../../assets/images/recharge/dash.png) no-repeat left center;
  display: block;
  width: 88%;
  height: 1px;
  position:absolute;
  top: 222x;
  left: 19px;
  background-size: 100% 100%
}
.cont-panel .title {
  color: #E93F3F;
  font-size: 24px;
  margin-bottom: 0;
}

.subtitle {
  color: #999999;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 35px;
}

.code {
  font-size: 24px;
  margin-bottom: 0;
  color: #333333;
}

.text-cont {
  background: url(../../assets/images/recharge/retangular-bottom.png)  top center;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  margin-top: 0px;
  padding-top: 20px;
}

.text-cont ol {
  /* list-style: none; */
  text-align: left;
  color: #666666;
  font-size: 14px;
  padding: 0;
  margin: 20px 30px;
}

.text-cont ol li {
  line-height: 1.5;
  list-style: decimal;
}

.yellow {
  color: #E93F3F;
}

.tab-cont {
  height: 45px;
  line-height: 45px;
  background: #fff;
}

.tab-cont .item {
  color: #999999;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  width: 33%;
  position: relative;
  float: left;
}

.mandiri .item {
  width: 50%;
}

.tab-cont .item.active {
  font-weight: bold;
  color: #E93F3F;
}

.tab-cont .item.active::before {
  position: absolute;
  bottom: 0;
  content: '';
  width: 12%;
  height: 4px;
  left: 44%;
  display: inline-block;
  background: #E93F3F;
  border-radius: 2px;
}

.record-left {
  float: left;
  padding: 0 10px;
}

.record-left span {
  display: block;
  color: #666666;
  font-size: 12px;
}

.record-left.text span {
  text-align: left;
  line-height: 1.5;
}

.record-left.text {
  border-left: 1px solid #ddd;
  padding-left: 12px;
}

.record-left .num {
  color: #ffc000;
  font-size: 18px;
}

.cont-panel.record {
  padding: 15px 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.tab-cont.record .item:first-child {
  width: 38%;
}

.tab-cont.record .item:nth-child(2) {
  width: 36%;
}

.tab-cont.record .item:nth-child(3) {
  width: 22%;
}

.recharge-record-default {
  text-align: center
}

.recharge-record-default a {
  text-decoration: none;
}

.record-no-data {
  text-align: center;
  color: #999;
  font-size: 14px;
  margin-top: 5%;
}

.record-default-pic {
  margin-top: 15%;
  width: 55%;
}

.record-default-btn {
  width: 80%;
  height: 45px;
  border-radius: 25px;
  background: -webkit-linear-gradient(right, #ffc000, #ffd450);
  margin: 12% auto;
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 45px;
}

.recharge-text {
  color: #666;
  font-size: 14px;
  margin: 0;
  line-height: 2;
}

.recharge-val {
  color: #E93F3F;
  margin-left: 6px;
}

.text-cont p {
  font-weight: bold;
  margin-top: 25px;
}
.fix {
  background: url(/static/img/retangular-bottom.9b7a259.png) top center;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  background-size: 100% 100%;
  background-position-y: -10px;
}
.fixDash {
  background: url(../../assets/images/recharge/dash.png) no-repeat left center;
  display: block;
  width: 89%;
  height: 1px;
  position:absolute;
  left: 18px;
  background-size: 100% 100%;
  top: 224px
}