body{
    margin: 0;
}
.toast-text{
    position: fixed;
    width: 90%;
    left: 5%;
    right: 5%;
    bottom: 30px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 25px;
    color: #fff;
    font-size: 15px;
    z-index: 10;
    display: none;
}
.vip-container{
    padding-top: 50px;
}
.vip-record{
    color: #999999!important;
}

.vip-header{
    /* background: #0d0d0d!important;
    color: #fff!important; */
}

.vip-header .nc-icon-prev{
    /* background: url(../../assets/images/vip/icon-prev.png) no-repeat center;
    background-size: 12px 22px; */
}

.vip-info-sec{
    width: 100%;
    background: url(../../assets/images/vip/vip-bg.png) no-repeat top;
    background-size: 100%;
    overflow: hidden;
}

.vip-scroll-box{
    width: 90%;
    margin: 0 auto;
    height: 40px;
    overflow: hidden;
}

.icon-vip-tips{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../../assets/images/vip/icon-vip-tip.png) no-repeat center;
    background-size: 16px 16px;
    vertical-align: top;
    margin-right: 5px;
    position: relative;
    top: 11px;
}

.vip-scroll-box ul{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 40px;
    width: 90%;
    margin-top: 0;
    white-space: nowrap;
    /* transition: all 1s; */
    animation: myMove 5s linear infinite;
    animation-fill-mode: forwards;
}

  .slide-enter-active, .slide-leave-active {
    transition: all 0.5s linear;
  }
  .slide-leave-to {
    transform: translateY(-20px);
  }
  .slide-enter {
    transform: translateY(20px);
  }

.vip-scroll-box li {
    display: inline-block;
    color: #333333;
    font-size: 12px;
    margin-right: 20px;
    height: 40px;
    line-height: 40px;
}

.vip-scroll-box p {
    color: #fff;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    width: 90%;
    margin: 0;
}


.info-cont{
    width: 90%;
    margin: auto;
    background:url(../../assets/images/vip/vip-card.png) center no-repeat ;;
    background-size: 100%;
    /* height: 200px; */
    overflow: hidden;
}

.header-wrapper{
    position: relative;
    height: 30px;
    width: 30px;
    margin: 25px 10px 25px 18px;
    float: left;
}

.vip-header-box{
    height: 30px;
    width: 30px;
    overflow: hidden;
    border-radius: 100%;
}

.vip-header-box img{
    width: 100%;
    height: 100%;
}

.vip-pic{
    position: absolute;
    bottom: -10px;
    left: -5px;
    width: 40px;
}

.header-info{
    float: left;
}

.header-info .name{
    font-size: 12px;
    color: #F8DCBC;
    margin: 25px 0 0 0;
}

.header-info .tag{
    font-size: 10px;
    color: #9B9B9B;
    /* background: -webkit-linear-gradient(right,#080808,#3f3f3f); */
    /* margin: 20px 0 0 0;
    padding: 2px 10px; */
    border-radius: 25px;
}

.vip-val-info{
    clear: both;
}

.vip-val-info .item{
    float: left;
    width: 50%;
    font-size: 12px;
    color: #999999;
    text-align: center;
    padding-bottom: 25px;
}

.vip-val-info .item p{
    margin:5px 0;
}
.vip-val-info .item .white {
    color: #FFFFFF;
    font-size: 12px;
}
.vip-val-info .item .num{
    font-size: 23px;
    color: #F8DCBC;
}

.vip-val-info .item .tag{
    background: url(../../assets/images/vip/vip-undan.png) center no-repeat;
    background-size: 100%;
    width: 94px;
    height: 20px;
    display:inline-block;
}
.vip-val-info .item .pen{
    background: url(../../assets/images/vip/vip-pen.png) center no-repeat;
    background-size: 100% 100%;
    width: 94px;
    height: 20px;
    display:inline-block;
}
.vip-title-sec{
    /* background: url(../../assets/images/vip/vip-title-bg.png) top no-repeat ; */
    background-size: 100%;
    text-align: center;
    font-size: 18px;
    color: #333;
    margin-top: -22px;
    padding-top: 40px;
    margin-bottom: 18px;
    font-weight: bold;
}
.vip-title-sec .left{
    display: inline-block;
    background: url(../../assets/images/vip/vip-jadi-left.png) center no-repeat;
    background-size: 100% 35%;
    width: 35px;
    height: 15px
}
.vip-title-sec .right {
    display: inline-block;
    background: url(../../assets/images/vip/vip-jadi-right.png) center no-repeat;
    background-size: 100% 35%;
    width: 35px;
    height: 15px
}
.vip-title-sec span {
    margin: 0 10px 0 10px
}
.vip-title-text{
    font-size: 12px;
    color: #999;
    margin-top: 5px;
    font-weight: normal;
}

.vip-access-sec {
    overflow: hidden;
    margin-top: 20px;
}

.vip-access-sec .item {
    width: 50%;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
}

.vip-access-sec .item p{
    margin: 0;
}

.vip-access-sec .item span{
    font-size: 12px;
    color: #999;
}

.icon-vip {
    display: inline-block;
    width: 36px;
    height: 32px;
    background: url(../../assets/images/vip/icon-vip-group.png) no-repeat;
    background-position: 0 0;
    background-size: 355%;
}

.icon-vip.invite{
    background-position: -35px 0;
    background-size: 370%;
}

.icon-vip.coin{
    background-position: -67px 0;
    background-size: 380%;
}

.icon-vip.more{
    background-position: -98px 0;
    background-size: 370%;
}

.vipBtn{
    color: #4D4C53;
    text-align: center;
    margin: auto;
    width: 328px;
    height: 40px;
    line-height: 40px;
    background: url(../../assets/images/vip/vip-jadi-member.png);
    background-position: 0 0;
    background-size: 328px 46px;
    clear: both;
}
.success-cont .top-btn {
    position: absolute;
    top: 182px;
    background:linear-gradient(323deg,rgba(228,182,139,1) 0%,rgba(251,226,195,1) 38%,rgba(228,182,139,1) 100%);
    border-radius:45px;
    left: 43px;
    color: #333333;
    width: 275px;
    height: 45px;
    line-height: 45px;
}
.success-cont .crown {
    height: 33px;
    width: 53px;
    position: absolute;
    top: 8px;
    left: 152px;
}
.success-cont .cancel {
    position: absolute;
    top: 245px;
    width: 100%;
    color: #999999;
}
.vip-play-btn{
    width: 90%;
    margin: 10px auto 30px auto;
    font-size: 18px;
    color: #ffd450;
    text-align: center;
    background: -webkit-linear-gradient(314deg,rgba(44,43,50,1) 0%,rgba(87,86,92,1) 100%);
    border-radius: 15px;
    padding: 25px 5px;
}

.play-box{
    display: inline-block;
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    border: 2px solid #ffd450;
    border-radius: 100%;
    vertical-align: middle;
    text-align: center;
    margin: 0 4px;
    line-height: 31px;
}

.play-caret{
    display: inline-block;
    height: 0;
    width: 0;
    border-left: 10px solid #ffd450;
    border-top: 6px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 6px solid transparent;
    position: relative;
    left: 5px;
}

.access-text{
    clear: both;
    font-size: 12px;
    color: #666666;
    background: #eeeeee;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    margin: auto;
    position: relative;
    top: -10px;
    display: none;
}

.show{
    display: block;
}

.hide{
    display: none;
}

.icon-text-caret{
    display: block;
    height: 0;
    width: 0;
    border-bottom: 8px solid #eee;
    border-left: 8px solid transparent;
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    left: 50px;
    top: -15px;
}

.icon-text-caret.right{
    right: 50px;
    left: initial;
}

.icon-text-close{
    position: absolute;
    right: -6px;
    top: -8px;
    display: block;
    font-style: normal;
    text-align: center;
    background: #535353;
    border-radius: 100%;
    color: #fff;
    width: 15px;
    height: 15px;
    font-size: 14px;
    line-height: 15px;
}

.vip-success-mask{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);

}

.success-cont {
    position: relative;
    margin-top: 177px
   
}
.success-cont img {
    width: 90%;
    height: 290px;
}
.icon-vip-success{
    width: 30%;
    margin-top: -30px;
}

.success-cont p {
    text-align: center;
    margin: auto;
    position: absolute;
    top: -10px;
    left: 20px;
    color: #333333;
}

.success-cont .yellow{
    position:absolute;
    top:70px;
    left: 0px;
    width: 100%;
}

/* .yellow{
    color: #e0c574;
} */

.success-cont .text{
    width: 89%;
    font-size: 12px;
    color: #666666;
    position: absolute;
    top: 95px;
    left: 20px;

}
.success-cont .exprerirence {
    width: 275px;
    height: 45px;
    line-height: 45px;
    position: absolute;
    top: 200px;
    left: 42px;
    color: #333333;
    background:linear-gradient(323deg,rgba(228,182,139,1) 0%,rgba(251,226,195,1) 38%,rgba(228,182,139,1) 100%);
    border-radius:45px
}
.success-cont .kamu {
    position: absolute;
    width: 89%;
    top: 50px;
    left: 20px 
}
.success-cont .vip-btn{
    position: absolute;
    top: 70px;
    left: 105px;
    color:#333333;
    font-size: 16px;
    /* background: -webkit-linear-gradient(right,#373737,#838383) */
}
.success-mask-close{
    position: relative;
    display: block;
    top: 60px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 100%;
    font-style: normal;
    margin: auto;
}



.tab-cont {
    height: 45px;
    line-height: 45px;
    background: #fff;
    box-shadow: 0px 0 0 2px rgba(255,192,0,0.1);
}

.tab-cont .item{
    color: #333333;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    width: 33%;
    position: relative;
}

.mandiri .item{
    width: 50%;
}

.tab-cont .item.active{
    font-weight: bold;
}

.tab-cont .item.active::before{
    position: absolute;
    bottom: 0;
    content: '';
    width: 12%;
    height: 4px;
    left: 44%;
    display: inline-block;
    /* background:  -webkit-linear-gradient(right,#e1c777,#f5e29c); */
    border-radius: 2px;
}

.record-left {
    float: left;
    padding: 0 10px;
}

.record-left span {
    display: block;
    color: #666666;
    font-size: 12px;
}

.record-left.text span{
    text-align: left;
    line-height: 1.5;
}

.record-left.text{
    border-left: 1px solid #ddd;
    padding-left: 12px;
}

.record-left .num{
    color: #e0c574;
    font-size: 18px;
}

.cont-panel.record {
    padding: 15px 10px;
    box-sizing: border-box;
    /* margin-bottom: 10px; */
    overflow: hidden;
    box-shadow: 0 1px 20px 5px rgba(174, 174, 174, 0.1);
    width: 90%;
    margin: 20px auto;
}

.tab-cont.record .item:first-child {
    width: 38%;
}

.tab-cont.record .item:nth-child(2) {
    width: 36%;
}

.tab-cont.record .item:nth-child(3) {
    width: 22%;
}

.dark{
    color: #333;
    font-style: normal;
}

.vip-record-default{
    text-align: center;
}

.vip-default-pic {
    width: 60%;
    margin-top: 30%
}

.record-no-data {
    font-size: 14px;
    color: #999;
    margin-top: 30px;
}

.wd-num {
    color: #333333;
    font-size: 24px;
    text-align: center;
    margin: 30px 0 0 0;
}
.wd-num span{
    color: #999999;
    font-size: 14px;
}
.wd-text {
    font-size: 12px;
    text-align: center;
    color: #969696;
    margin-top: 0;
}

.vip-input-group{
    position: relative;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #ddd;
    width: 90%;
    margin: auto;
}

.vip-input-group input {
    outline: none;
    height: 45px;
    line-height: 45px;
    margin-left: 10px;
    width: 80%;
    border: 0;
    padding: 0;
    vertical-align: bottom;
}


.vip-input-group input::placeholder{
    color: #dddddd;
    font-size: 14px;
}

.vip-select{
    background: #f5f5f5;
    position: fixed;
    width: 100%;
    height: 170px;
    left:0;
    padding: 0px;
    margin: 0px;
    bottom: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 0px;
    list-style: none;
    /* position: absolute;
    top: 257px;
    left: -35px;
    list-style: none;
    margin-left: 6px;
    width: 100%;
    
    padding: 0;
    background: #f5f5f5;
    z-index: 1; */
}

.vip-select li {
    height: 45px;
    line-height: 45px;
    text-align: center;
}
.vip-select li:hover {
   background-color: #E4B68B;
}
.icon-input {
    display: inline-block;
    width: 18px;
    height: 20px;
    background: url(../../assets/images/vip/icon-input-group.png) no-repeat center;
    background-position: 0 0;
    background-size: 109px 21px;
    vertical-align: middle;
}

.icon-caret{
    position: absolute;
    right: 30px;
    top: 19px;
    height: 0;
    width: 0;
    border-top: 6px solid #333;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    display: inline-block;
}

.icon-input.bank{
    background-position: -30px 0;
}

.icon-input.bankno{
    background-position: -60px 0;
}

.icon-input.tel{
    background-position: -92px 0;
    position: relative;
    top: -2px;
}

.wd-label{
    text-align: center;
    width:  90%;
    margin: -20px auto 20px;
    color: #DDDDDD;
    font-size: 12px;
}

.wd-val-box{
    width: 90%;
    margin: 30px auto;
    overflow: hidden;
}

.wd-val-box .item{
    color: #DDDDDD;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    width: 30%;
    font-size: 16px;
    text-align: center;
    padding: 8px 0;
    float: left;
    margin-right: 4%;
}

.wd-val-box .item.active{
    border-radius:5px;
    color: #333333;
    background:rgba(255,243,233,1);;
    border:1px solid rgba(228,182,139,1)
}

.wd-val-box .item:nth-child(3){
    margin-right: 0;
}

.vip-btn.wd{
   color:#F7E2D0;
   margin: auto;
   width: 90%;
   height: 50px;
   line-height: 50px;
   border-radius: 35px;
   text-align: center;
   background:linear-gradient(314deg,rgba(44,43,50,1) 0%,rgba(87,86,92,1) 100%);
}

.wd-tips-text{
    font-size: 16px;
    color: #999999;
    text-align: center;
    margin-top: 10px;
}

a{
    text-decoration: none;
}

.wd-tip-title {
    font-size: 12px;
    color: #999;
    width: 90%;
    margin: auto;
}

.wd-ol{
    padding: 0;
    font-size: 12px;
    color: #999;
    width: 84%;
    margin: auto;
}

.wd-ol li{
    list-style: decimal!important;
}

.wd-record-ul {
    list-style: none;
    padding:0;
    width: 90%;
    margin: auto;
}

.wd-record-ul li {
    position: relative;
    color: #999999;
    font-size: 14px;
    border-radius: 15px;
    padding: 12px;
    margin-top: 15px;
}
.wd-record-ul li div {
    display: flex;
    color: #999999;
    font-size: 12px;
    /* padding: 0 0 9px 0; */
    border-bottom: 1px solid #DDDDDD;
    
}
.wd-record-ul li .money{
    flex: 1;
    color: #333333;
    font-size: 16px;
    padding: 0 0 9px 8px;
}
.wd-record-ul li .name{
    color: #333333;
    font-size: 16px;
    padding: 0 0 9px 8px;
}
.wd-record-ul li.yellow{
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 8px 0px rgba(0,0,0,0.06);
    border-radius:10px;
}

.wd-record-ul li.red{
    border: 1px solid #ff0e21;
    background: url(../../assets/images/vip/icon-reject.png) no-repeat;
    background-size: 90px 70px;
    background-position: 230px center;
}

.wd-record-ul li.green{
    border: 1px solid #11b800;
    background: url(../../assets/images/vip/icon-passed.png) no-repeat;
    background-size: 90px 70px;
    background-position: 230px center;
}

.wd-record-ul li p{
    margin: 0;
    font-size: 14px;
}

.vip-invite-record {
    background: url(../../assets/images/vip/vip-card.png) no-repeat;
    background-size: 100% 100%;
    text-align: center;
    width: 95%;
    height: 165px;
    margin: 20px auto;
    box-sizing: border-box;
    padding: 10px 0;
    color: #333;
    overflow: hidden;
}

.vip-invite-record .num{
    font-size: 24px;
    margin:0;
    color: #F8DCBC;
    padding-top: 20px
}
.vip-invite-record .num span{
    font-size: 14px;
    margin:0;
    color: #FFFFFF;
    padding-top: 20px
}
.vip-invite-record .text{
    font-size: 10px;
    margin: 0;
    color: #999999;
}

.vip-invite-record .item{
    float: left;
    margin-top: 10px;
    width: 50%;
    font-size: 12px;
}

.vip-invite-record .item p {
    font-size: 23px;
    text-align: center;
    margin: 0;
    color: #F8DCBC;
}
.vip-invite-record .item p span{
    font-size: 14px;
    text-align: center;
    margin: 0;
    color: #FFFFFF;
}
.vip-invite-record .item span {
    color: #999999;
    font-size: 10px;
}
.vip-invite-record-ul {
    list-style: none;
    padding: 0;
    width: 90%;
    font-size: 14px;
    color: #666;
    margin: auto;
    overflow: hidden;
}

.vip-invite-record-ul li {
    clear: both;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
}
.vip-invite-record-ul li:first-child {
    font-size: 16px;
    color: #333333;
}
.vip-invite-record-ul .name,.vip-invite-record-ul .date {
    display: block;
    width: 30%;
    float: left;
    text-align: center;
}

.vip-invite-record-ul .rp{
    display: block;
    width: 40%;
    float: left;
    text-align: center;
}

.vip-mask-msg{
    width: 90%;
    margin: 20px auto;
    text-align: left;
    line-height: 1.8;
    padding-top: 30px;
}

.vip-default-text{
    font-size: 16px;
    text-align: center;
    color: #666;
}

.vip-record-default {
    text-align: center;
    color: #999;
    font-size: 14px;
    padding-top: 20%;
}

.vip-record-default img{
    width: 70%;
}

.wd-detail{
    display: inline-block;
    width: 80%;
    vertical-align: text-top;
}
.vip-category {
    display: flex;
    justify-content:space-between;
    padding: 0 15px 15px 15px   
}
.vip-up {
    padding: 25px 20px 25px 20px;
    text-align: center;
    border-image: linear-gradient(270deg,rgba(255,255,255,1) 0%,rgba(221,221,221,1) 51%,rgba(255,255,255,1) 100%) round;;
}
.vip-up .rpc {
    color: #666666 ;
    font-size: 10px;
}
.down-content {
    text-align: center;
 }
.selected {
    position: relative;
    border-radius: 5px;
    border: 1px solid rgba(228,182,139,1);
    background:rgba(255,243,233,1);
}
.vipitems {
    border-radius: 5px;
    border: 1px solid;
    color: #DDDDDD;
}
.vip-category .line {
    display: inline-block;
    background: url(../../assets/images/vip/vip-invite-bg.png)  center no-repeat;
    background-size: 100% 100%;
    width: 90%;
    height: 1px;
    background-position: 10px 0;
}
.vip-category .line {
    display: inline-block;
    background: url(../../assets/images/vip/vip-invite-bg.png)  center no-repeat;
    background-size: 100% 100%;
    width: 90%;
    height: 1px;
    position: absolute;
    /* top: 20px; */
    background-position: 10px 0;
}
.vip-category .notHighlight {
    margin:0 auto;
    width: 90%;
    height: 1px;
    background: linear-gradient(270deg,rgba(255,255,255,1) 0%,rgba(221,221,221,1) 51%,rgba(255,255,255,1) 100%);
}
